= partial "layouts/doctype"

%head
  -# Meta tags
  = partial "layouts/meta"

  -# Page title
  %title= current_page.data.title

  -# Stylesheets
  = stylesheet_link_tag "application"
  = stylesheet_link_tag "stylesheet"
  = stylesheet_link_tag "pygment_trac"

  -# Application icons
  = partial "layouts/icons"

  -# HTML5Shiv
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

%body{ class: current_page.data.classes || "" }
  .wrapper
    %header
      %h1.title
        %a{:href=>"/KOS_DOC/"}
          kOS
    #container
      %p.tagline Fully programmable autopilot mod for KSP. Originally By Nivekk
      #main{:role => "main"}
        .download-bar
          .inner
            %a.spaceport{:href=>"http://kerbalspaceport.com/kos-autopilot/", :class=>"download-button"}
              %span Spaceport
            %a.reddit{:href=>"http://www.reddit.com/r/KOS_DOC/", :class=>"download-button"}
              %span Reddit
            %a.forum{:href=>"http://forum.kerbalspaceprogram.com/threads/68089", :class=>"download-button"}
              %span Forum
            %a.code{:href=>"https://github.com/erendrake/KOS"}
              View kOS on GitHub
        %span.blc
        %span.trc
        %article.markdown-body
          = yield
    %footer
      .owner
        %p
          %a.avatar{:href=>"https://github.com/erendrake"}
            %img{:height=>"48px",:width=>"48px",:src=>"https://0.gravatar.com/avatar/165af1182d7a820a7dacba19befc2e9c?d=https%3A%2F%2Fidenticons.github.com%2Fdb79977913a22100d5b0a7622deb2905.png&amp;r=x&amp;s=60"}
          %a{:href=>"https://github.com/erendrake"}
            erendrake
          maintains
          %a{:href=>"https://github.com/erendrake/kos"}
            kOS
    .current-section
      %a{:href=>"#top"}
        Scroll to top
      %p.name

  -# JavaScripts
  = javascript_include_tag "http://code.jquery.com/jquery.min.js"
  = javascript_include_tag "application"
  = javascript_include_tag "script"

-# Need this to close the doctype partial
</html>

